html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #222;
}

.hello {
  font: 400 8em 'Oswald';
  color: #EEE;
  text-shadow: 0.02em 0.02em 0 #333;
  line-height: 1;
  height: 1em;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.signin {
  display: block;
  border: none;
  outline: none;
  width: 8em;
  height: 2em;
  line-height: 2;
  text-align: center;
  font: 400 2em 'Oswald';
  background-color: #bc2a39;
  color: #e7c0b9;
  position: absolute;
  margin: auto;
  top: 7em;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  cursor: pointer;
}

button.signin:hover {
  background-color: #c0bbbb;
  color: #666;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
}

.getstarted {
  display: block;
  width: 25em;
  height: 18em;
  padding: 2em;
  background-color: #b9c2cc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.close {
  display: block;
  border: none;
  outline: none;
  width: 1.25em;
  height: 1.25em;
  font: 1.5em Arial;
  background-color: #bc2a39;
  color: #e7c0b9;
  border-radius: 50%;
  line-height: 0;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
}

button.close:active {
  background-color: #d4636f;
}

input.field {
  display: block;
  border: none;
  outline: none;
  padding: 0.5em;
  font: 300 1.5em 'Oswald';
  width: 100%;
  margin: 0.75em 0;
  color: #555;
}

button.submit {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5em;
  font: 400 1.5em 'Oswald';
  margin: 0.75 0;
  background-color: #bab500;
  color: #fcf6ce;
  cursor: pointer;
}

button.submit:active {
  transform: translate(-0.1em, -0.1em);
  border-top: 0.2em solid rgb(141, 142, 113);
  border-left: 0.2em solid rgb(141, 142, 113);
}

input.field.error {
  outline: 0.1em solid #bc2a39;
  background-color: #f7d0cd;
  color: #111;
}
